{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>name</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
    body, html {
    height: 100%;
    margin: 0;

  }
  .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
 .a{
      height: 28px;
  }
    
  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

   .sidenav {
      padding-top: 20px;
      
      height: 100%;
  }

  .row.content {height: 450px}

/* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
      .sidenav {
        height:auto;
        padding: 15px;
  }

  .row.content {height:auto;} 

  </style>

<body>
  
  <nav class=" a navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="#">logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><i class="fa fa-home"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'retest:logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a></li>
        </ul>
      </div>
    </div>
  </nav>

<!--profile section-->

  <div class="text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav navbar-inverse" style="color: #ffffff">
        <p>My Profile</p>
              <ul class="nav nav-tabs nav-stacked ">

                <li><img src="{{ u.allusers.avatar.url }}" alt="" class="img-circle" height="120" width="100" alt="" /></li>
                <li><h4><b>{{u.username}}</b></h4></li>
                <li role="separator" class="divider"></li>
                <li><p>HOD</p></li>
                <li role="separator" class="divider"></li>
                <li><p>{{u.headofdept.dept}}</p></li>
                <li role="separator" class="divider"></li>
                <li><p>College of Engineering Chengannur</p></li>
              </ul>
      </div>

      

      <div class="col-sm-9" style=" margin-left:50px;">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home">All Requests</a></li>
          <li><a href="#menu1">Approved Requests</a></li>
        </ul>
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <table class="table" style="text-align: left;">
              <thead>
              <tr>
                    <th>Requested by</th>
                    <th>Requested on</th>
                    <th>Requested item</th>
                  </tr>
              </thead>
              {% for request in all_requests %}
              <tbody>
                {% if request.dept.hod == u %}   
                   <td>{{ request.name }}</td>
                   <td>{{ request.date }}</td>
                   <td>Retest</td>

                   <td><button onclick="location.href= '/retest/{{ request.id }}/';">View details</button></td>
                   <tr>
                   {% endif %}
              </tbody>
              {% endfor %}
              {% for request in projector_requests %}
              <tbody>
                {% if request.is_accept is 1 %}
                {% if request.projector.sec.head == u %}
                   <td>Gokul G</td>
                   <td>{{ request.date }}</td>
                   <td>{{ request.projector }}</td>
                   <td><button onclick="location.href= '/event/{{ request.id }}/projectordetails';">View details</button></td>
                   </tr>
                 {% endif %}  
                {% endif %}   
                </tbody>
                {% endfor %}

              {% for request in lab_requests %}
              <tbody>
                {% if request.is_accept is 1 %}
                {% if request.lab.sec.head == u %}
                   <td>Gokul G</td>
                   <td>{{ request.date }}</td>
                   <td>{{ request.lab }}</td>
                   <td><button onclick="location.href= '/event/{{ request.id }}/labdetails';">View details</button></td>
                   </tr>
                {% endif %} 
                {% endif %} 
              </tbody>
              {% endfor %}

              {% for request in extensioncable_requests %}
              <tbody> 
                {% if request.is_accept is 1 %}
                {% if request.extension_cable.sec.head == u %}
                   <td>Gokul G</td>
                   <td>{{ request.date }}</td>
                   <td>{{ request.extension_cable }}</td>
                   <td><button onclick="location.href= '/event/{{ request.id }}cabledetails';">View details</button></td>
                   </tr>
                   {% endif %} 
                {% endif %}  
              </tbody>
              {% endfor %}
            </table>
          </div>
          <div id="menu1" class="tab-pane fade">
            <table class="table" style="text-align: left;">
              <thead>
              <tr>
                    <th>Requested by</th>
                    <th>Requested on</th>
                    <th>Requested item</th>
                  </tr>
              </thead>
              {% for request in all_requests %}
              <tbody>
                
                
                  {% if request.dept.hod == u %} 
                  {% if request.is_principal %}       
                  <tr>
                   <td>{{ request.name }}</td>
                   <td>{{ request.date }}</td>
                   <td>Retest</td>
                   <td><button onclick="location.href= '/retest/{{ request.id }}/retreq';">View details</button></td>
                   <tr>
                  {% endif %} 
                  {% endif %}
                          
                   
                  
              </tbody>
              {% endfor %}
              {% for request in projector_requests %}
              <tbody>
                {% if request.is_accept is 3 %}
                {% if request.projector.sec.head == u %}
                   <td>Gokul G</td>
                   <td>{{ request.date }}</td>
                   <td>{{ request.projector }}</td>
                   <td><button onclick="location.href= '/event/{{ request.id }}/projecterdetails';">View details</button></td>
                   </tr>
                {% endif %} 
                {% endif %}    
                </tbody>
                {% endfor %}

              {% for request in lab_requests %}
              <tbody>
                {% if request.is_accept is 3 %}
                {% if request.lab.sec.head == u %}
                   <td>Gokul G</td>
                   <td>{{ request.date }}</td>
                   <td>{{ request.lab }}</td>
                   <td><button onclick="location.href= '/event/{{ request.id }}/labdetails';">View details</button></td>
                   </tr>
                {% endif %}
                {% endif %}  
              </tbody>
              {% endfor %}

              {% for request in extensioncable_requests %}
              <tbody> 
                {% if request.is_accept is 3 %}
                {% if request.extension_cable.sec.head == u %}
                   <td>Gokul G</td>
                   <td>{{ request.date }}</td>
                   <td>{{ request.extension_cable }}</td>
                   <td><button onclick="location.href= '/event/{{ request.id }}cabledetails';">View details</button></td>
                   </tr>
                {% endif %}  
                {% endif %} 
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
        <script>
          $(document).ready(function(){
          $(".nav-tabs a").click(function(){
          $(this).tab('show');
          });
          });
        </script>
      </div>
    </div>
  </div>
</div>
      
</body>
</html>
