{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>name</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<style>
</style>
<body>
	<nav class="navbar navbar-inverse">
    
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
         
        </ul>
        </div>
    </div>
    </nav>
    <div class="container-fluid">
  <div class = "col-sm-12">

<p>The system facilitates easy and efficient management of requests and permissions. Usually request management is a tedious task since there is chance of loss of documents,fake requests and in addition, it requires the physical presence of acceptor as well as the requestor.</p>
<p>Request management system is a web-based application to resolve these issues. Here only authorised users are allowed to access the resources and separate interfaces are provided for each category of users,hence compromising with faking issues. One of the key features of the system is automatic resource updation. It keeps itself up-to-date whenever a resource is deleted or added. The system mainly deals with retest and event requests. Event section includes complete management of needed resources.</p>
<p>
The key advantages of RMS are ease of management, accuracy, efficient accessibility, authenticity and reviews of requests. Through accuracy, the make make sure that only available resources can be accessed and the application is accessed from anywhere anytime, making the access efficient. Later reviewing of requests is made possible.</p>
  </div>    
  
</body>
</html>