{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>
	<nav class="navbar navbar-inverse">
    
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Request Management System</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="retest/login.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
  <p>Gokul G<br>IEEE Chairman<br>S6 C<br>College of engineering, Chengannur</p>
  </div>
  <div class="container">
   <p>{{ user.username }}<br>NSS Coordinator<br>College of engineering, Chengannur</p>
  </div>
  <div class="container">
  <p>Subject: Permission for accessing {{ Eventmikesystem.mike_system }}.</p>
  </div>
  <div class="container">
  <p> I Gokul G (S6 C) IEEE Chairman request the permission to access the {{ Eventmikesystem.mike_system }} on {{ Eventmikesystem.date }} from {{ Eventmikesystem.fromt }} to {{ Eventmikesystem.to }}. Kindly permit the request.</p>
  </div>
  <div class="container">
  <p>Yours faithfully<br>Gokul G</p>
  </div>

</div>
<div class="container">
<form action="{% url 'retest:mikeaccept' eventmikesystem.id %} " method="post">
    {% csrf_token %}
    
    <input type="submit" value="Accept" />
</form>

</div>
